// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

// Variáveis
$cor-preta: #000;
$cor-branca: #fff;
$cor-vermelha: #ff0000;
$cor-cinza: #585858;
$cor-cinza-claro: #a7a7a7;
$cor-cinza-mais-claro: #ededed;
$cor-verde-claro: #38ab6b;
$cor-azul: #0000ff;
$cor-indigo: #315576;
$cor-verde-escuro: darken(#38ab6b, 8%);

// mixins
@mixin flex(
  $display: flex,
  $direction: row,
  $align: stretch,
  $justify: start,
  $gap: 0,
  $wrap: nowrap
) {
  display: $display;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin respond($tamanho) {
  @if $tamanho == small {
    @media (max-width: 30em) {
      @content;
    }
  } @else if $tamanho == medium-small {
    @media (max-width: 46.875em) {
      @content;
    }
  } @else if $tamanho == medium {
    @media (max-width: 59.375em) {
      @content;
    }
  } @else if $tamanho == big{
    @media(max-width: 80rem){
      @content
    }
  }
}
