.cabecalho {
  @include flex($align: center, $justify: space-between, $gap: 1.6rem);
  position: relative;
  padding: 0 2.5rem;
  background-color: $cor-branca;
  z-index: 99;
  width: 100%;

  &--aberto {
    // isso aqui é uma classe que não colocamos nenhuma propriedade css nela pois ela só serve para mudar as características de outros containers. Óbvio que pensamos estrategicamente para colocar uma classe secundária no mesmo lugar que abrange os elementos que queremos trocar de classe conforme ocorre o evento de click. Temos que nos perguntar o que tem dentro dessa classe aberto. Toda vez que colocamos essa classe aberto ela é uma cópia da original, uma gêmea. E para descobrir isso é necessário muita prática.
    // parei para pensar sem olhar o Diego falando e acredito que seja
    // eu tenho que lembrar que a estilização do sanduiche sempre tem que estar aqui. As classes que vao mudar lá no html.
    // Por que ele coloca duas vezes? Será que é por que vai ser mais fácil de puxar no javascript esses elementos?
    & .cabecalho__menu {
      &-x {
        display: block;
      }
      &-sanduiche {
        display: none;
      }
    }

    & .cabecalho__navegacao {
      @include respond(medium) {
        @include flex();
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $cor-branca;
        min-width: 100%;
        transform: translateX(0);
        transition: transform ease-in 200ms;
      }
    }

    & .cabecalho__lista {
      @include respond(medium) {
        @include flex($direction: column);
        padding: 0;
      }
    }

    & .cabecalho__item-lista {
      @include respond(medium) {
        padding: 0;
        @include flex($direction: column, $justify: start);
        position: static;

        &:hover {
          & .cabecalho-escondido {
            display: none;
          }
        }

        &--aberto {
          & .cabecalho-escondido {
            display: flex;
          }
          &:hover {
            & .cabecalho-escondido {
              display: flex;
            }
          }
        }
      }
    }
    & .cabecalho__link {
      border-width: 0;
      border-bottom: 1px solid lighten($cor-cinza-claro, 20%);
      border-top: 1px solid lighten($cor-cinza-claro, 20%);
      padding: 2rem 2rem;
      @include flex($justify: space-between, $align: start);
      &::after {
        content: "\276F";
        transform: rotate(90deg);
      }
      &:hover {
        text-decoration: none;
      }
    }
    & .cabecalho-escondido {
      @include flex($display: none);
      position: static;
      background-color: lighten($cor-cinza-mais-claro, 5%);
      padding: 1.5rem 3.12rem;
      &__titulo {
        display: none;
      }
      &__imagem {
        display: none;
      }
      &__tipo {
        flex-direction: column;
        &--aberto {
          display: flex;
        }
      }
    }
  }

  &__menu-sanduiche {
    display: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    @include respond(medium) {
      display: block;
    }
  }

  &__menu {
    display: none;
    width: 3rem;
    @include respond(medium) {
      display: block;
      cursor: pointer;
    }
    &-x {
      display: none;
      font-size: 3.12rem;
    }
  }

  &__container {
    @include flex($align: center, $gap: 6.1rem);
    width: 100%;
    @include respond(medium) {
      justify-content: center;
    }
  }

  &__link-logo {
    @include respond(medium) {
      padding: 3.7rem 0;
    }
  }

  &__logo {
    width: 15rem;
    margin-bottom: 2px;
    min-width: 15rem;
  }

  &__navegacao {
    // O cabecalho__navegacao inicialmente ficou muito pequeno por que nao haviamos colocado o campo de input no cabecalho. Vamos ter que colocar ele como width 100% para ocupar todo o espaço e depois colocar um max-width para ele ficar de um tamanho fixo.
    @include flex($justify: space-between);
    width: 100%;
    max-width: 81rem;
    @include respond(medium) {
      display: none;
    }
  }

  &__lista {
    @include flex($justify: space-between, $gap: 2rem);
    list-style-type: none;
    width: 100%;
    @include respond(small) {
      display: none;
    }
  }

  &__link {
    font-size: 1.33rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: inherit;
    line-height: 1;
    border-width: solid 2px transparent;
    &-icone {
      @include respond(big) {
        width: 2.2rem;
      }
    }
    &:hover {
      border-width: solid 2px currentColor;
    }

    &-icone {
      @include flex($justify: center, $align: center);
      // eu adicionei esse flex aqui e voltou a funcionar o hover. nao sei o por que. Lembro que havia parado de funcionar da primeira vez assim que eu adicinei um conteiner no icone de usuario e icone de sacola
      color: inherit;
      text-decoration: none;
      transition: transform ease-in 200ms;
      &:hover {
        color: $cor-vermelha;
        transform: scale(1.1);
      }
      &--logado {
        & .cabecalho__icone {
          display: block;
          &--logado {
            display: none;
          }
        }
      }
    }

    &--ofertas {
      color: $cor-vermelha;
      border-bottom: solid 2px transparent;
    }
    &--perfil {
      text-transform: none;
      font-weight: 400;
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }

  &__item-lista {
    padding: 3.9rem 0;
    &:hover {
      border-bottom-color: currentColor;
      & .cabecalho-escondido {
        @include flex($display: flex, $align: start, $gap: 2.5rem);
      }
    }
  }

  &__icones {
    @include flex($align: center, $gap: 1rem);
  }

  &__icone {
    color: inherit;
    fill: currentColor;
    width: 2rem;
    height: 2rem;
    @include respond(big) {
      width: 2.2rem;
      height: 2.2rem;
    }
    &--menor {
      width: 1.6rem;
      @include respond(big) {
        width: 1.78rem;
      }
      transition: transform ease-in 200ms;
    }

    &--logado {
      display: none;
      width: 2rem;
      height: 2rem;
      fill: transparent;
      stroke: currentColor;
    }
  }
  &__icone-carrinho-container {
    position: relative;
    width: 1.6rem;
    height: 2rem;
  }
  &__numero-itens {
    @include flex($align: center, $justify: center);
    // display: none;
    font-size: 1.11rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(55%, -55%);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.82rem;
    border-radius: 50%;
    background-color: $cor-vermelha;
    color: $cor-branca;
  }
  &__icone-login-container {
    position: relative;
  }
  &__informacoes-perfil {
    @include flex($direction: column, $gap: 1.28rem);
    position: absolute;
    background-color: $cor-branca;
    right: 0;
    padding: 2.5rem 2rem;
    width: 15rem;
    box-shadow: 0 0 1rem rgba($cor-preta, 10%);
    border-radius: 0.5rem;
    transform: translate(2%, 10%);
    &--aberto {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      right: 0;
      border: solid 1rem transparent;
      border-bottom-color: rgba($cor-preta, 30%);
      transform: translate(-119%, -100%);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      right: 0;
      border: solid 1rem transparent;
      border-bottom-color: $cor-branca;
      transform: translate(-119%, -99%);
    }
    // como esse elemento nao tem conteudo no meio entao a borda fica em formato triangular
  }
  &__uppercase {
    text-transform: uppercase;
  }
}

.cabecalho-escondido {
  @include flex($display: none, $align: start, $gap: 2.5rem);
  position: absolute;
  background-color: $cor-branca;
  padding: 3.12rem 2.5rem;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  box-shadow: 0 0 0.1rem rgba($cor-preta, 10%);

  &__tipo {
    @include flex($gap: 2rem);
  }
  &__titulos {
    @include flex($gap: 3rem);
    list-style: none;
  }
  &__titulo {
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    color: $cor-preta;
    font-weight: 500;
  }
  &__conteudos {
    @include flex($direction: column, $wrap: wrap, $gap: 2rem);
  }
  &__conteudo {
    list-style: none;
    color: $cor-cinza;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    &:hover {
      border-bottom: solid 1px currentColor;
    }
    &--decorado {
      text-decoration: underline;
      &:hover {
        border-bottom: solid 1px transparent;
      }
    }
  }
  &__imagem {
    width: 30rem;
  }
}

.pesquisa {
  @include flex();
  &__container {
    border-bottom: solid 1px $cor-preta;
  }
  &__input {
    border: none;
  }
  &__icone {
    color: $cor-preta;
    width: 2rem;
    height: 2rem;
  }
}
