.grid{
    padding: 2.5rem 1.28rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.82rem;
    @include respond(small){
        display: flex;
        flex-direction: column;
    }
}

