*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  @include respond(big){
    font-size: 56.75%;
  }
}

body{
  font-family: Inter, sans-serif;
  font-size: 1.33rem;
  line-height: 1.4;
  background-color: $cor-branca;
}

img{
  width: 100%;
  max-width: 100%;
  display: block;
}

li{
  list-style: none;
}

.principal {
  @include flex($gap: 2.5rem);
  padding: 0 2rem;
}

// Largura da barra de rolagem

// webkit scroll bar

::-webkit-scrollbar{
  width: 5px;
}


// linha de trem
::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  border-radius: 3rem;
  background: #bdbdbd;
}
