.minha-conta {
    padding: 9.54rem 3.12rem;
    background-color: $cor-cinza-mais-claro;
    @include respond(medium){
      padding: 4.88rem 3.12rem;
      
    }
    @include respond(small){
      padding: 3.12rem 3.12rem;
      
    }
    &__caixa{
        @include flex($direction: column, $gap: 2.5rem);
        background-color: $cor-branca;
        max-width: 100rem;
        margin: auto;
        padding: 3.9rem;
    }
  &__titulo{
    font-size: 2.76rem;
    font-family: serif;
    font-weight: 400;
}
&__inputs{
    @include flex($wrap: wrap, $gap: 1.6rem);
    background-color: lighten($cor-cinza-mais-claro, 5%);
    padding: 3.12rem;
    border-radius: 1rem;
  }
  &__input{
    background-color: lighten($cor-cinza-mais-claro, 5%);
  }
  &__label{
    background-color: lighten($cor-cinza-mais-claro, 5%);
  }
  &__endereco-item{
    width: calc(50% - 0.8rem);
    @include respond(small){
      width: 100%;
    }
    &--email{
      width: 100%;
    }
  }
  &__botao{
    display: block;
    background-color: $cor-verde-claro;
    border: 0;
    border-radius: 0;
    color: $cor-branca;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    text-decoration: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    &:hover{
      background-color: $cor-verde-escuro;
      transition: background-color ease-in 0.1s;
  }
  }
 
}
